.navbar {
  width: 100%;
  top: 0px;
  position: sticky;
}

.nav-header {
  width: 99%;
  background-color: rgb(203, 213, 225, 0.83);
  border-radius: 8px;
  padding: 10px 26px;
  position: sticky;
  top: 0;
  margin: 4px auto;
}
.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
}
.website-logo {
  width: 120px;
}
.nav-menu {
  display: flex;
  align-items: center;
  gap: 12px;
}
.nav-menu-item,
.nav-link {
  text-decoration: none;
  list-style: none;
  color: black;
  font-weight: 600;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 18px;
}
.logout-btn {
  color: aliceblue;
  background-color: #4f46e5;
  font-weight: 500;
  border-radius: 7px;
  outline: none;
  cursor: pointer;
  padding: 10px 26px;
  border: none;
}
.logout-btn:hover {
  transform: scale(1.03);
}
